*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    font-family: poppins,sans-serif;
}
#topbar.dark.topbar-transparent {
    background-color: transparent;
    border-bottom: 1px solid rgba(144,144,144,.25);
}
#topbar.dark {
    border-bottom: 1px solid rgba(231,231,231,.05);
}
#topbar.topbar-dark, #topbar.dark {
    background-color: #252525;
    border-color: rgba(231,231,231,.25);
}
#topbar.dark {
    background-color: #1f1f1f;
}
#topbar{
    border-bottom: 1px solid #eee;
}
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  
}
.col-6{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
/* .d-none {
    display: none!important;
} */
#topbar{
    position: relative;
    z-index: 200;
    background-color: #fff;
}
.topbar-transparent{
    margin-top: -2px; 
}

#topbar .contact-link{
    list-style: outside none;
    margin: 0;
    padding: 0;
    float: left;
}
ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
ul{
    margin-top: 0;
    margin-bottom: 1rem;
}
 #topbar .contact-link>li {
  display: inline-block;
  height: 40px;
  line-height: 40px;
}
#topbar .contact-link>li>a{
    color: #484848;
    display: block;
    font-size: 12px;
    font-weight: 500;
    height: 40px;
    margin-right: 16px;
}

li{
   display: list-item;
   cursor: pointer;
}
/* #topbar .contact-link>li>a,#topbar .social-icon>li>a{
    color: #FFF !important;
} */
#topbar .social-icon{
    float: right;
    height: 100%;
    overflow: hidden;
}
 #topbar .social-icon li a{
    border-radius: 0;
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 35px;
    overflow: hidden;
    margin: 0;
}
/* #topbar .social-icon li a{
    color: #FFF !important;
} */

.social-icon{
    line-height:0;
}
.social-icon ul{
    margin: 0;
    padding: 0;
}
#topbar .social-icon li, #topbar .social-icon li a{
    float: left;
    list-style: outside none none;
}
.social-icon li{
    float: left;
    list-style: none;
}
.social-icon li a{
    float: left;
    height: 32px;
    width: 32px;
    line-height: 32px;
    font-size: 16px;
    text-align: center;
    margin: 0 4px 4px 0;
    border-radius: 4px;
    border: 0;
    background: 0 0;
    color: #333;
    overflow: hidden;
    transition: all .3s ease;
}


a{
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
.fab{
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}












